/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
  @import "bootstrap/scss/bootstrap";

  .content-background-color {
    background-color: #C4F5FF;
    background-image: linear-gradient(90deg, #C4F5FF 0%, #6DEBB5 100%);
    height: 100%;
    position: absolute;
  }

  .sidebar {
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #f8f9fa;
  }
  @media screen and (max-width: 769px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding-bottom: 5px;
    }
  }
  a {
    color: #212529;
    &:visited{
      color: #21252991;
    }
    &:hover{
    background-color: #0000;
    text-decoration: none;
    color: #28517a;
    }
  }

  .list-group-item {
    background-color: transparent;
  }

  .profile-image {
    margin: auto;
    overflow: hidden;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p, span {
    font-family: 'Roboto', sans-serif;
  }
  .profile-blurb {
    border-top: 1px solid #6debb5;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #6debb5;
    margin-bottom: 0;
  }

  ul li h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
  }