<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 resume-background-color content-top-offset">
      <div class="col-md-10 offset-md-1">
        <h1>In progress, check back later!</h1>
      </div>
    </div>
    <div class="col-md-2 offset-md-10 resume-sidebar justify-content-center content-top-offset">
      Nav links
    </div>
  </div>
</div>